---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Project from "../components/Project.astro";
import {Age} from '../components/Age.tsx';
type PinnedRepo = {
  owner: string;
  repo: string;
  description: string;
  language: string;
  languageColor: string;
  stars: number;
  forks: string;
};

const pinnedRepos = await fetch(
  "https://gh-pinned.nxl.sh/api/user/johnbakhmat"
).then(async (response) => {
  return (await response.json()) as PinnedRepo[];
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} home`} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header title={SITE_TITLE} />
    <main class="text-lg text-neutral-200">
      <h1 class="text-4xl pb-2">Hi, I'm John</h1>
      <p>
        I'm <Age client:visible /> y/o software engineer. Blah blah I'm CS student blah whatever. 
        <b>I build stuff</b>. I like <b>web dev</b>, <b>game dev</b> and so much more <b>dev</b>.
        My main focus is full-stack stuff with <b>Typescript</b> and some <b>Rust</b> to train my monkey brain.
        </p>
        <p class="blur-sm hover:blur-none duration-100 transition-all ease-in-out text-white">
        (This is not endorsed by <b>The Rust Foundation </b> tho :) ) 
      </p>
      <br />
      <p>
       In my free time, if I feel fancy, I like doing research on random topics, engineering ones
       will end up as <a href="/blog">blog posts</a>. Sometimes you can also find me in <b>Warframe</b>
       grinding <b>prime relics</b> or in <b>Endless Space 2</b> conquering the galaxy.
      </p>
      <br />
      <br />
      <h2 class="text-3xl pb-4">Things I've Built</h2>

      <section
        class="grid grid-cols-1 gap-4 auto-cols-max sm:grid-cols-2 sm:gap-3"
      >
        {
          pinnedRepos.map((repo) => {
            return (
              <Project
                name={repo.repo}
                owner={repo.owner}
                description={repo.description}
                stars={repo.stars}
                language={repo.language}
              />
            );
          })
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
